.scale-svg {
    width: 300px;
    height: 300px;
}

.left-block {
    fill: red;
    stroke: white;
}

.right-block {
    fill: blue;
    stroke: white;
}

.block {
    opacity: 0;
    stroke-width: 0.1;
}

